@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@600&display=swap');

.login {
    position:relative;
    top:10%;
    left:50%;
    height:400px;
    width:500px;
    margin-left:-250px;
}
.login div{
    margin : 5px;
    color:black;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
}
.login button{
    margin-top:25px;
    height:50px;
    width:500px;
    font-family : 'Do Hyeon', sans-serif;
    font-size : 20px;
}
.loginitem input{
    height:50px;
    width:500px;
    padding:0;
    border:0;
}
.loginitem input::placeholder{
    color : rgb(220, 220, 220);
    font-family : 'Do Hyeon', sans-serif;
    font-size : 20px;
}
