@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@600&display=swap');

#list{
    color:white;
}

.wrapper{
    display: grid;
    grid-template-columns : 1fr 60% 1fr;
    grid-template-rows: 100px 1fr;
    margin : 30px;
    margin-top : 0;
}
    .wrapper button {
        height : 70px;
        width : 250px;
        border : none;
        border-radius : 5%;
        background-color: rgb(68, 68, 68);
        font-family: 'Do Hyeon', sans-serif;
        font-size: 30px;
        color : white;
        cursor : pointer;
    }
    .wrapper button:hover{
        background-color: rgb(119, 119, 119);;
    }

    .login-button{
        grid-column: 1;
        grid-row:1;
    }

    .signup-button{
        grid-column: 1;
        grid-row:2;
    }

    .link-table{
        grid-column: 2;
        grid-row:1/3;
    }

    .maker-button{
        grid-column: 3;
        grid-row:1/3;
    }

    .logout-button{
        grid-column:1;
        grid-row:1;
    }

.loading {
    position : relative;
    width : 40px;
    left : 50%;
    margin-top : 30px;
    margin-left : -20px;
}

.rank-list {
    position : relative;
    width : 1000px;
    left : 50%;
    margin-top : 50px;
    margin-left : -500px;
}