@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@600&display=swap');

.start button {
    position : relative;
    background-color :#312d3a;
    height: 50px;
    width : 200px;
    margin-top : 20px;
    margin-left : -100px;
    left: 50%;
    color : white;
    font-size : 20px;
    font-family: 'Do Hyeon', sans-serif;
}
.start p {
    text-align : center;
    color : white;
    font-size : 20px;
    font-family: 'Do Hyeon', sans-serif;
}
.board {
    height : 600;
}
.board input {
    position : relative;
    left : 50%;
    height : 40px;
    width : 400px;
    margin-top : 10px;
    margin-bottom : 30px;
    margin-left : -200px;
    font-size : 30px;
    font-family: 'Do Hyeon', sans-serif;
    cursor : default;
    text-Align : center;
}
.board table {
    margin-left :auto;
    margin-right: auto;
}
